<section>

  <div>
    <fieldset>
      <label>Team 1</label>
      {{input type="text" value=model.team1Name key-press="update"}}
    </fieldset>

    <fieldset>
      <label>Team 2</label>
      {{input type="text" value=model.team2Name key-press="update"}}
    </fieldset>
  </div>

  <h4 class="align-left extra-space-top">Court 1</h4>

  <div class="player-box">
    {{input type="text" value=model.court1Team1Name placeholder="Player 1" key-press="update" class="text-small"}}
    vs
    {{input type="text" value=model.court1Team2Name placeholder="Player 2" key-press="update" class="text-small"}}
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 1</span>
    </div>
    <fieldset>
      <label>{{model.court1Team1Set1}}
        <button {{action 'valueUp' 'court1Team1Set1'}}>+</button>
        <button {{action 'valueDown' 'court1Team1Set1'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court1Team2Set1}}
        <button {{action 'valueUp' 'court1Team2Set1'}}>+</button>
        <button {{action 'valueDown' 'court1Team2Set1'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 2</span>
    </div>
    <fieldset>
      <label>{{model.court1Team1Set2}}
        <button {{action 'valueUp' 'court1Team1Set2'}}>+</button>
        <button {{action 'valueDown' 'court1Team1Set2'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court1Team2Set2}}
        <button {{action 'valueUp' 'court1Team2Set2'}}>+</button>
        <button {{action 'valueDown' 'court1Team2Set2'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 3</span>
    </div>
    <fieldset>
      <label>{{model.court1Team1Set3}}
        <button {{action 'valueUp' 'court1Team1Set3'}}>+</button>
        <button {{action 'valueDown' 'court1Team1Set3'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court1Team2Set3}}
        <button {{action 'valueUp' 'court1Team2Set3'}}>+</button>
        <button {{action 'valueDown' 'court1Team2Set3'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="serving-icon">
    <fieldset>
      <span class="{{if model.court1Team1Serving "serving" "not-serving"}}">&nbsp;</span>
    </fieldset>

    <fieldset style="padding-top: 5px;">
      <span class="{{if model.court1Team1Serving "not-serving" "serving"}}">&nbsp;</span>
    </fieldset>
  </div>

  <div class="update-server-group">
    <fieldset>
      <button class="change-server" {{action 'toggle' 'court1Team1Serving'}}>Change Server</button>
    </fieldset>
  </div>

  <div class="clearFloat"></div>

  <h4 class="align-left extra-space-top">Court 2</h4>

  <div class="player-box">
    {{input type="text" value=model.court2Team1Name placeholder="Player 1" key-press="update" class="text-small"}}
    vs
    {{input type="text" value=model.court2Team2Name placeholder="Player 2" key-press="update" class="text-small"}}
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 1</span>
    </div>
    <fieldset>
      <label>{{model.court2Team1Set1}}
        <button {{action 'valueUp' 'court2Team1Set1'}}>+</button>
        <button {{action 'valueDown' 'court2Team1Set1'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court2Team2Set1}}
        <button {{action 'valueUp' 'court2Team2Set1'}}>+</button>
        <button {{action 'valueDown' 'court2Team2Set1'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 2</span>
    </div>
    <fieldset>
      <label>{{model.court2Team1Set2}}
        <button {{action 'valueUp' 'court2Team1Set2'}}>+</button>
        <button {{action 'valueDown' 'court2Team1Set2'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court2Team2Set2}}
        <button {{action 'valueUp' 'court2Team2Set2'}}>+</button>
        <button {{action 'valueDown' 'court2Team2Set2'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 3</span>
    </div>
    <fieldset>
      <label>{{model.court2Team1Set3}}
        <button {{action 'valueUp' 'court2Team1Set3'}}>+</button>
        <button {{action 'valueDown' 'court2Team1Set3'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court2Team2Set3}}
        <button {{action 'valueUp' 'court2Team2Set3'}}>+</button>
        <button {{action 'valueDown' 'court2Team2Set3'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="serving-icon">
    <fieldset>
      <span class="{{if model.court2Team1Serving "serving" "not-serving"}}">&nbsp;</span>
    </fieldset>

    <fieldset style="padding-top: 5px;">
      <span class="{{if model.court2Team1Serving "not-serving" "serving"}}">&nbsp;</span>
    </fieldset>
  </div>

  <div class="update-server-group">
    <fieldset>
      <button class="change-server" {{action 'toggle' 'court2Team1Serving'}}>Change Server</button>
    </fieldset>
  </div>

  <div class="clearFloat"></div>

  <h4 class="align-left extra-space-top">Court 3</h4>

  <div class="player-box">
    {{input type="text" value=model.court3Team1Name placeholder="Player 1" key-press="update" class="text-small"}}
    vs
    {{input type="text" value=model.court3Team2Name placeholder="Player 2" key-press="update" class="text-small"}}
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 1</span>
    </div>
    <fieldset>
      <label>{{model.court3Team1Set1}}
        <button {{action 'valueUp' 'court3Team1Set1'}}>+</button>
        <button {{action 'valueDown' 'court3Team1Set1'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court3Team2Set1}}
        <button {{action 'valueUp' 'court3Team2Set1'}}>+</button>
        <button {{action 'valueDown' 'court3Team2Set1'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 2</span>
    </div>
    <fieldset>
      <label>{{model.court3Team1Set2}}
        <button {{action 'valueUp' 'court3Team1Set2'}}>+</button>
        <button {{action 'valueDown' 'court3Team1Set2'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court3Team2Set2}}
        <button {{action 'valueUp' 'court3Team2Set2'}}>+</button>
        <button {{action 'valueDown' 'court3Team2Set2'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 3</span>
    </div>
    <fieldset>
      <label>{{model.court3Team1Set3}}
        <button {{action 'valueUp' 'court3Team1Set3'}}>+</button>
        <button {{action 'valueDown' 'court3Team1Set3'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court3Team2Set3}}
        <button {{action 'valueUp' 'court3Team2Set3'}}>+</button>
        <button {{action 'valueDown' 'court3Team2Set3'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="serving-icon">
    <fieldset>
      <span class="{{if model.court3Team1Serving "serving" "not-serving"}}">&nbsp;</span>
    </fieldset>

    <fieldset style="padding-top: 5px;">
      <span class="{{if model.court3Team1Serving "not-serving" "serving"}}">&nbsp;</span>
    </fieldset>
  </div>

  <div class="update-server-group">
    <fieldset>
      <button class="change-server" {{action 'toggle' 'court3Team1Serving'}}>Change Server</button>
    </fieldset>
  </div>

  <div class="clearFloat"></div>

  <h4 class="align-left extra-space-top">Court 4</h4>

  <div class="player-box">
    {{input type="text" value=model.court4Team1Name placeholder="Player 1" key-press="update" class="text-small"}}
    vs
    {{input type="text" value=model.court4Team2Name placeholder="Player 2" key-press="update" class="text-small"}}
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 1</span>
    </div>
    <fieldset>
      <label>{{model.court4Team1Set1}}
        <button {{action 'valueUp' 'court4Team1Set1'}}>+</button>
        <button {{action 'valueDown' 'court4Team1Set1'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court4Team2Set1}}
        <button {{action 'valueUp' 'court4Team2Set1'}}>+</button>
        <button {{action 'valueDown' 'court4Team2Set1'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 2</span>
    </div>
    <fieldset>
      <label>{{model.court4Team1Set2}}
        <button {{action 'valueUp' 'court4Team1Set2'}}>+</button>
        <button {{action 'valueDown' 'court4Team1Set2'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court4Team2Set2}}
        <button {{action 'valueUp' 'court4Team2Set2'}}>+</button>
        <button {{action 'valueDown' 'court4Team2Set2'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 3</span>
    </div>
    <fieldset>
      <label>{{model.court4Team1Set3}}
        <button {{action 'valueUp' 'court4Team1Set3'}}>+</button>
        <button {{action 'valueDown' 'court4Team1Set3'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court4Team2Set3}}
        <button {{action 'valueUp' 'court4Team2Set3'}}>+</button>
        <button {{action 'valueDown' 'court4Team2Set3'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="serving-icon">
    <fieldset>
      <span class="{{if model.court4Team1Serving "serving" "not-serving"}}">&nbsp;</span>
    </fieldset>

    <fieldset style="padding-top: 5px;">
      <span class="{{if model.court4Team1Serving "not-serving" "serving"}}">&nbsp;</span>
    </fieldset>
  </div>

  <div class="update-server-group">
    <fieldset>
      <button class="change-server" {{action 'toggle' 'court4Team1Serving'}}>Change Server</button>
    </fieldset>
  </div>

  <div class="clearFloat"></div>

  <h4 class="align-left extra-space-top">Court 5</h4>

  <div class="player-box">
    {{input type="text" value=model.court5Team1Name placeholder="Player 1" key-press="update" class="text-small"}}
    vs
    {{input type="text" value=model.court5Team2Name placeholder="Player 2" key-press="update" class="text-small"}}
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 1</span>
    </div>
    <fieldset>
      <label>{{model.court5Team1Set1}}
        <button {{action 'valueUp' 'court5Team1Set1'}}>+</button>
        <button {{action 'valueDown' 'court5Team1Set1'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court5Team2Set1}}
        <button {{action 'valueUp' 'court5Team2Set1'}}>+</button>
        <button {{action 'valueDown' 'court5Team2Set1'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 2</span>
    </div>
    <fieldset>
      <label>{{model.court5Team1Set2}}
        <button {{action 'valueUp' 'court5Team1Set2'}}>+</button>
        <button {{action 'valueDown' 'court5Team1Set2'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court5Team2Set2}}
        <button {{action 'valueUp' 'court5Team2Set2'}}>+</button>
        <button {{action 'valueDown' 'court5Team2Set2'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="update-button-group">
    <div>
      <span class="box-score-title">Set 3</span>
    </div>
    <fieldset>
      <label>{{model.court5Team1Set3}}
        <button {{action 'valueUp' 'court5Team1Set3'}}>+</button>
        <button {{action 'valueDown' 'court5Team1Set3'}}>-</button>
      </label>
    </fieldset>

    <fieldset>
      <label>{{model.court5Team2Set3}}
        <button {{action 'valueUp' 'court5Team2Set3'}}>+</button>
        <button {{action 'valueDown' 'court5Team2Set3'}}>-</button>
      </label>
    </fieldset>
  </div>

  <div class="serving-icon">
    <fieldset>
      <span class="{{if model.court5Team1Serving "serving" "not-serving"}}">&nbsp;</span>
    </fieldset>

    <fieldset style="padding-top: 5px;">
      <span class="{{if model.court5Team1Serving "not-serving" "serving"}}">&nbsp;</span>
    </fieldset>
  </div>

  <div class="update-server-group">
    <fieldset>
      <button class="change-server" {{action 'toggle' 'court5Team1Serving'}}>Change Server</button>
    </fieldset>
  </div>

  <div class="clearFloat"></div>

</section>