<section>

  <div class="teams">
    <h1>{{model.team1Name}} vs. {{model.team2Name}}</h1>
  </div>

  <div class="box-score">
    <h4>Court 1 - {{model.court1Team1Name}} vs. {{model.court1Team2Name}}</h4>
    <div class="box-score-title-box">
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court1Team1Serving "serving" "not-serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court1Team1Set1}}</span>
      <span class="box-score-value">{{model.court1Team1Set2}}</span>
      <span class="box-score-value">{{model.court1Team1Set3}}</span>
      <span class="box-score-value" class="note">{{model.court1Team1Name}}</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court1Team1Serving "not-serving" "serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court1Team2Set1}}</span>
      <span class="box-score-value">{{model.court1Team2Set2}}</span>
      <span class="box-score-value">{{model.court1Team2Set3}}</span>
      <span class="box-score-value" class="note">{{model.court1Team2Name}}</span>
    </div>
  </div>

  <div class="box-score">
    <h4>Court 2 - {{model.court2Team1Name}} vs. {{model.court2Team2Name}}</h4>
    <div class="box-score-title-box">
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court2Team1Serving "serving" "not-serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court2Team1Set1}}</span>
      <span class="box-score-value">{{model.court2Team1Set2}}</span>
      <span class="box-score-value">{{model.court2Team1Set3}}</span>
      <span class="box-score-value" class="note">{{model.court2Team1Name}}</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court2Team1Serving "not-serving" "serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court2Team2Set1}}</span>
      <span class="box-score-value">{{model.court2Team2Set2}}</span>
      <span class="box-score-value">{{model.court2Team2Set3}}</span>
      <span class="box-score-value" class="note">{{model.court2Team2Name}}</span>
    </div>
  </div>

  <div class="box-score">
    <h4>Court 3 - {{model.court3Team1Name}} vs. {{model.court3Team2Name}}</h4>
    <div class="box-score-title-box">
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court3Team1Serving "serving" "not-serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court3Team1Set1}}</span>
      <span class="box-score-value">{{model.court3Team1Set2}}</span>
      <span class="box-score-value">{{model.court3Team1Set3}}</span>
      <span class="box-score-value" class="note">{{model.court3Team1Name}}</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court3Team1Serving "not-serving" "serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court3Team2Set1}}</span>
      <span class="box-score-value">{{model.court3Team2Set2}}</span>
      <span class="box-score-value">{{model.court3Team2Set3}}</span>
      <span class="box-score-value" class="note">{{model.court3Team2Name}}</span>
    </div>
  </div>

  <div class="box-score">
    <h4>Court 4 - {{model.court4Team1Name}} vs. {{model.court4Team2Name}}</h4>
    <div class="box-score-title-box">
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court4Team1Serving "serving" "not-serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court4Team1Set1}}</span>
      <span class="box-score-value">{{model.court4Team1Set2}}</span>
      <span class="box-score-value">{{model.court4Team1Set3}}</span>
      <span class="box-score-value" class="note">{{model.court4Team1Name}}</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court4Team1Serving "not-serving" "serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court4Team2Set1}}</span>
      <span class="box-score-value">{{model.court4Team2Set2}}</span>
      <span class="box-score-value">{{model.court4Team2Set3}}</span>
      <span class="box-score-value" class="note">{{model.court4Team2Name}}</span>
    </div>
  </div>

  <div class="box-score">
    <h4>Court 5 - {{model.court5Team1Name}} vs. {{model.court5Team2Name}}</h4>
    <div class="box-score-title-box">
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court5Team1Serving "serving" "not-serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court5Team1Set1}}</span>
      <span class="box-score-value">{{model.court5Team1Set2}}</span>
      <span class="box-score-value">{{model.court5Team1Set3}}</span>
      <span class="box-score-value" class="note">{{model.court5Team1Name}}</span>
    </div>
    <div style="position: relative;">
      <span class="{{if model.court5Team1Serving "not-serving" "serving"}}">&nbsp;</span>
      <span class="box-score-value">{{model.court5Team2Set1}}</span>
      <span class="box-score-value">{{model.court5Team2Set2}}</span>
      <span class="box-score-value">{{model.court5Team2Set3}}</span>
      <span class="box-score-value" class="note">{{model.court5Team2Name}}</span>
    </div>
  </div>

</section>