<section>

  <div class="teams">
    <h1>{{model.team1Name}} vs. {{model.team2Name}}</h1>
  </div>

  <div class="box-score">
    <h2>First Singles</h2>
    <div>
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court1Team1Set1}}</span>
      <span class="box-score-value">{{model.court1Team1Set2}}</span>
      <span class="box-score-value">{{model.court1Team1Set3}}</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court1Team2Set1}}</span>
      <span class="box-score-value">{{model.court1Team2Set2}}</span>
      <span class="box-score-value">{{model.court1Team2Set3}}</span>
    </div>
  </div>

  <div class="box-score">
    <h2>Second Singles</h2>
    <div>
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court2Team1Set1}}</span>
      <span class="box-score-value">{{model.court2Team1Set2}}</span>
      <span class="box-score-value">{{model.court2Team1Set3}}</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court2Team2Set1}}</span>
      <span class="box-score-value">{{model.court2Team2Set2}}</span>
      <span class="box-score-value">{{model.court2Team2Set3}}</span>
    </div>
  </div>

  <div class="box-score">
    <h2>First Doubles</h2>
    <div>
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court3Team1Set1}}</span>
      <span class="box-score-value">{{model.court3Team1Set2}}</span>
      <span class="box-score-value">{{model.court3Team1Set3}}</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court3Team2Set1}}</span>
      <span class="box-score-value">{{model.court3Team2Set2}}</span>
      <span class="box-score-value">{{model.court3Team2Set3}}</span>
    </div>
  </div>

  <div class="box-score">
    <h2>Second Doubles</h2>
    <div>
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court4Team1Set1}}</span>
      <span class="box-score-value">{{model.court4Team1Set2}}</span>
      <span class="box-score-value">{{model.court4Team1Set3}}</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court4Team2Set1}}</span>
      <span class="box-score-value">{{model.court4Team2Set2}}</span>
      <span class="box-score-value">{{model.court4Team2Set3}}</span>
    </div>
  </div>

  <div class="box-score">
    <h2>Third Doubles</h2>
    <div>
      <span class="box-score-title">Set 1</span>
      <span class="box-score-title">Set 2</span>
      <span class="box-score-title">Set 3</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court5Team1Set1}}</span>
      <span class="box-score-value">{{model.court5Team1Set2}}</span>
      <span class="box-score-value">{{model.court5Team1Set3}}</span>
    </div>
    <div>
      <span class="box-score-value">{{model.court5Team2Set1}}</span>
      <span class="box-score-value">{{model.court5Team2Set2}}</span>
      <span class="box-score-value">{{model.court5Team2Set3}}</span>
    </div>
  </div>

</section>